$color: #c38098;
$background-color: beige;

body {
  background-color: $background-color;
}

.container {
  h1 {
    // Font-Color 설정
    color: $color;
    /* font-style: oblique; */
    /*! font-style: oblique; */
  }

  .user {
    > ul {
      padding-left: 20px;

      li {
        list-style: none;
        font-size: 25px;

        .name {
          color: brown;
        }

        .age {
          color: chocolate;
        }
      }
    }
  }

  .parent {
    .fs {
      &-small {
        font-size: 12px;
      }

      &-medium {
        font-size: 14px;
      }

      &-large {
        font-size: 16px;
      }
    }

    ul {
      padding-left: 0;

      li {
        list-style: none;

        &:last-child {
          color: red;
        }

        &:hover {
          color: white;
          background-color: darkseagreen;
        }
      }
    }
  }
}
