$color: #c38098;
$background-color: beige;

body {
  background-color: $background-color;
}

.container {
  h1 {
    // Font-Color 설정
    color: $color;
    /* font-style: oblique; */
    /*! font-style: oblique; */
  }
}
